.main{
    margin-top: 100px;
    width: 40%;
    background-color: aliceblue;
    border-radius: 15px;
    padding-left: 20px;
    
}
.container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.form{
    background-color: aliceblue;
    
}

.form p{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form input{
    background-color: aliceblue;
    width: 90%;
    border-width: 1px;
}
.form button{
    background-color: purple;
   margin-top: 10px;
   margin-bottom: 10px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .closeButton {
    background-color: #ccc;
    border: none;
    color: #ffffff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }